:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Rubik", sans-serif;
  --third-family: "Kameron", sans-serif;

  --main-color: #05073a;
  --second-color: #fff;
  --accent-color: #2733d0;
  --bg-color: #05073a;
}
