.hero {
  position: relative;
  padding-top: 257px;
  padding-bottom: 12px;

  background-image: url(../../img/hero-img-mob.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #b0e0e6;
  background-size: cover;
  @media (min-width: 768px) {
    padding-top: 410px;
    padding-bottom: 80px;
    background-image: url(../../img/hero-img-desk.jpg);
  }
}
.hero-title {
  margin-bottom: 10px;

  color: var(--second-color);
  font-weight: 900;
  font-size: 40px;
  text-shadow: -1px 2px 5px 0 rgba(5, 7, 58, 0.5);
  @media (min-width: 768px) {
    font-size: 64px;
  }
}
.hero-subtitle {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 32px;
  color: #fff;
}
.hero-text {
  width: 100%;
  max-width: 680px;

  color: #fff;
}

.hero-contact {
  padding-top: 257px;
  padding-bottom: 12px;

  background-image: url(../../img/hero-img2-desk.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #b0e0e6;
  background-size: cover;
  @media (min-width: 768px) {
    padding-top: 410px;
    padding-bottom: 300px;
  }
}
